extends layout

block content
  - let welcomeMsg
  if locals.user
    - welcomeMsg = `Welcome back, ${locals.user.first_name}`
  else 
    - welcomeMsg = "Welcome to Member Board"

  div(class="welcome-message")
    h1 #{welcomeMsg}

  div(class="messages-display-wrapper")
    if locals.user
      a(href="/messages/create")
        button(type="button" class="create-btn") +
    div(class="messages-display")
      if messages 
        ul(style="list-style:none")
          each message in messages
            li 
              div(class="message")
                h2 #{message.title}
                p(style="margin-bottom: 10px") #{message.body}
                if locals.user
                  p #[strong Author:] #{message.author_username} 
                  p #[strong Posted on:] #{message.created_date}
                  if locals.user.isAdmin
                    div(style="position:absolute; top:0; right:0")
                      a(href=`${message.url}/delete` style="color:red") Delete
                else
                  a(href="/login" style="color: #435eb9;") Login 
                  | to see who created this post!
      else
        h2 There are currently no messages




